img {
  margin-left: auto;
  margin-right: auto;
  width: ;
}

body {
  background: whitesmoke;
  font-family: 'Times New Roman', Times, serif
}

.grid-container {
  display: grid;
  height: 97vh;
  width: 98vw;
  background-color: inherit;
  padding: 1px;
  grid-template-areas: 
  'header header header header header ' 
  'nav nav nav nav nav '
  'section section section aside aside' 
  'section section section aside aside' 
  'article article article aside aside' 
  'article article article aside aside'
  'footer footer footer footer footer ';
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 14% 6% 15% 17% 17% 15% 14%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.grid-item {
  text-align: center;
  padding: ;
  font-size: 30px;
}

.header {
  font-family:   'Times New Roman', Times, serif;
  background-color: red;
  grid-area: header;
}

.nav {
  font-family:  fantasy;
  background-color: black;
  grid-area: nav;
}

.section {
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 22px;
  background-color: blue;
  grid-area: section;
}

.aside {
  font-family:  'Courier New', Courier, monospace;
  font-size: 22px;
  background-color: yellow;
  grid-area: aside;
}

.article {
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  background-color: green;
  grid-area: article;
}

.footer {
  background-color: orange;
  background-image: url("Images/Eagle.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  tab-size: 4;
  font-weight: bold;
  grid-area: footer;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

a {
  background-color: rgb(133, 133, 133);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 1.5em;
}